/* = = = = = FONTS = = = = = */
/* Viewport fonts are located in mixin due
   to scss rendering requirements in viewport */
body {
  font-family: 'Muli', sans-serif;
  color: #283845; }

.section {
  font-size: 1em;
  letter-spacing: 0em; }

header .nav-social a {
  font-size: 1rem;
  letter-spacing: 2em;
  font-weight: bold;
  color: #283845; }

header .nav-social .current-language a {
  font-size: 0.8rem;
  letter-spacing: 0em;
  font-weight: normal;
  color: #283845; }

header .nav-desktop-list a {
  font-size: 1rem;
  letter-spacing: 0.05em;
  font-weight: bold;
  color: #FE3483; }

header .mobile-bar-icon {
  font-size: 1rem;
  font-weight: bold;
  color: #FE3483; }

header .mobile-bar-icon i.fa {
  font-size: 6vh;
  color: #FE3483; }

header .mobile-bar-icon-close i.fa {
  font-size: 6vh;
  color: #FFFFFF; }

#scroll-down {
  font-size: 0.9rem;
  letter-spacing: 0.3em;
  color: #283845; }

.banner {
  letter-spacing: 0.1em; }

.banner h1 span {
  font-weight: bold; }

.banner h1 {
  font-weight: normal;
  font-size: 19vh;
  color: #FE3483; }

.banner h2 {
  font-size: 3.5vh;
  font-weight: normal;
  color: #FE3483; }

.banner h3 {
  font-weight: normal;
  font-size: 4.5vh;
  line-height: 1.5em; }

.banner h4 {
  font-size: 2vh;
  font-style: italic;
  font-weight: lighter; }

.banner-ads {
  font-size: 1.7vh;
  font-weight: lighter;
  line-height: 1.5em; }

.error h1 {
  font-weight: normal;
  font-size: calc(2rem + 7vw);
  line-height: 0.8em;
  color: #FE3483; }

.error h3 {
  font-size: calc(0.3rem + 2vw);
  font-weight: normal;
  line-height: 3.5em; }

/* = = = = = BUTTONS = = = = = */
/* = = = = = DEBUG = = = = = */
/* = = = = = MIXINGS = = = = = */
/* = = = = = = = = = = = = */
/*         FLEX            */
/* = = = = = = = = = = = = */
/* = = = = = = = = = = = = = */
/*     VIEWPORT FONTS        */
/* = = = = = = = = = = = = = */
/* = = = = = = = = = = = = */
/*           BODY          */
/* = = = = = = = = = = = = */
body {
  background-color: #fafafa;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 100 100'%3E%3Crect x='0' y='0' width='70' height='70' fill='%23ffffff'/%3E%3C/svg%3E");
  /* background by SVGBackgrounds.com Square Versatiles */ }

/* Format: Everything (margin + padding + border) = width */
*,
:after,
:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px; }

/* = = = = = LINKS = = = = = */
a {
  text-decoration: none; }
  a:hover {
    opacity: 0.7; }

.bold {
  font-weight: bold; }

.smaller {
  font-size: 70%; }

/* = = = = = = = = = = = = = */
/*           MODALS          */
/* = = = = = = = = = = = = = */
.hide-outside {
  transform: translate3d(0, -150%, 0); }

.hide {
  display: none !important; }

/* = = = = = = = = = = = = = */
/*        SCROLLDOWN         */
/* = = = = = = = = = = = = = */
#scroll-down {
  -webkit-writing-mode: vertical-rl;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  position: fixed;
  bottom: 70px;
  left: 30px;
  /*40*/
  z-index: 100; }

/* = = = = = = = = = = = = = */
/*           HEADER          */
/* = = = = = = = = = = = = = */
/* Format: Top Menu/Logo/Bar container */
header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  /* this is 1000 */
  /* Format: Menu Bar Icon aligns vertical to other icons, instead of going down */
  /* Format: Bar Window  */ }
  header .nav-desktop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding-top: 10px; }
  header .mobile-bar-icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer; }
  header .mobile-bar-icon-close {
    border: 1px solid #FE3483;
    background-color: #FE3483;
    border-radius: 4px;
    padding: 0.3em 0.55em 0.3em 0.55em;
    /* button size */
    cursor: pointer; }
  header .nav-desktop-list {
    /* Format: Top Menu Text Horizontal */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    /* Format: Top Menu Text Space */ }
    header .nav-desktop-list a {
      display: block;
      margin-right: 1.7rem; }
  header .nav-mobile {
    /* Desc: width + height fill the window */
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #283845cc;
    padding-left: 35%;
    z-index: -100;
    /* Format: Bar Menu UL display */ }
    header .nav-mobile ul.nav-mobile-list {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      justify-content: space-around;
      -webkit-box-orient: vertical;
      -webkit-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      height: 100vh;
      list-style: none;
      background-color: #FFFFFF;
      /* Format: Bar Menu Social Media (Bottom) display */ }
      header .nav-mobile ul.nav-mobile-list li {
        width: 80%;
        border-bottom: 1px solid #dbdbdb;
        text-align: right; }
        header .nav-mobile ul.nav-mobile-list li a {
          color: #FE3483; }
      header .nav-mobile ul.nav-mobile-list li:last-child {
        text-align: center; }
  header .nav-mobile-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end; }
  header .nav-social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    border-bottom: 1px solid #dbdbdb;
    padding: 10px 0px 10px 0px; }
    header .nav-social .current-language {
      margin-top: 0px;
      padding-right: 2em; }
    header .nav-social .language-selector {
      position: relative;
      width: 200px; }

.banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  flex-direction: column;
  /* adjust banner size */
  /* center the banner by complementing the size adjusted */
  margin: auto;
  text-align: left; }
  .banner h2 {
    margin-bottom: 1.5em; }
  .banner h3 span {
    border: 1px solid #283845;
    background-color: #283845;
    border-radius: 8px;
    padding: 0px 0.3em 0px 0.3em;
    /* button size */
    margin: 0px 0.3em 0px 0.3em; }
  .banner h3 .span-learn {
    font-weight: bold;
    color: #FFFFFF; }
  .banner h3 .span-code {
    color: #CEFF1A; }
  .banner h3 .span-robots {
    color: #F4E04D; }
  .banner h4 {
    margin-top: 1em; }
  .banner .banner-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .banner .banner-inner .banner-left {
      text-align: right; }

.banner-robots {
  position: fixed;
  width: calc(100% - 9.5rem);
  height: calc(2rem + 4vw);
  bottom: 2rem;
  left: 8rem;
  z-index: 0; }
  .banner-robots span {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: none;
    z-index: 0;
    background-image: url("/assets/img/codedevs-robots.svg"); }

.banner-ads {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .banner-ads .banner-robot:last-child {
    border-right: none; }
  .banner-ads .banner-robot {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: right; }
    .banner-ads .banner-robot .banner-robot-img {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-flex-direction: column;
      flex-direction: column;
      padding-left: 1rem;
      padding-right: 1rem; }
      .banner-ads .banner-robot .banner-robot-img img {
        width: 1.5rem;
        margin: auto; }

.error {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  flex-direction: column;
  letter-spacing: 0.1em;
  /* adjust error size */
  width: 80%;
  /* center the error by complementing the size adjusted */
  margin-right: 20%;
  text-align: right; }
  .error h2 {
    line-height: 1em;
    margin-bottom: 1.5em; }

/* = = = = = = = = = = = = = */
/*            SECTIONS       */
/* = = = = = = = = = = = = = */
#section-home::after {
  content: "";
  background-image: url("/assets/img/codedevs-children-color.jpg");
  background-repeat: repeat-y;
  opacity: 0.5;
  top: 0;
  left: 0;
  right: 0;
  position: absolute;
  z-index: -1; }

#section-home {
  background-image: url("/assets/img/cloud-engineer.svg");
  background-repeat: no-repeat;
  background-attachment: fixed; }

/* = = = = = VIEWPORT = = = = = */
/* - - - - - Desktop - - - - - */
@media screen and (min-width: 992px) {
  /*
  #fullpage {        
      margin-top: $dk-header-height !important;
      height: calc(100vh - calc(4.6rem + 20px))  !important;
  }*/
  header {
    padding: 10px 40px 10px 40px; }
    header .navigation {
      width: 100%; }
    header .nav-mobile-wrap {
      display: none; }
    header .codedevs-engineer-color img, header .codedevs-engineer-silver img {
      height: 4.6rem; }

  .section {
    height: calc(100vh - calc(4.6rem + 20px));
    padding: 0 10vw 0 10vw; }

  #section-home {
    background-position: 55vw calc(calc(4.6rem + 20px) + 15vh);
    background-size: 45vw; }
    #section-home .banner {
      padding-top: 5vh;
      width: 60vw;
      height: 65vh; }
    #section-home .banner-ads {
      padding-top: 2vh;
      width: 75vw;
      height: 15vh; }
      #section-home .banner-ads .banner-robot {
        width: calc(100% / 4);
        margin-left: 0.5rem; }

  #section-home::after {
    height: calc(100vh - calc(4.6rem + 20px) - 1.5vw);
    background-position: 1.5vw 0;
    background-size: 7vw;
    bottom: 1.5vw; } }
/* - - - - - Large Tablets - - - - - */
@media screen and (max-width: 991px) {
  #scroll-down {
    display: none; } }
/* - - - - - Smartphones (479 < )- - - - - */
@media screen and (max-width: 479px) {
  header {
    padding: 1vh 3vw 1vh 3vw; }
    header .codedevs-engineer-color img {
      height: 6vh; }
    header .codedevs-engineer-silver img {
      height: 6vh;
      opacity: 0; }
    header .nav-social, header .nav-desktop {
      display: none; }
    header .nav-mobile ul.nav-mobile-list {
      padding: 50% 0px 50% 0px;
      font-size: 1.4rem;
      font-weight: bold; }
      header .nav-mobile ul.nav-mobile-list .nav-mobile-language {
        font-size: 1.2rem;
        font-weight: normal; }
      header .nav-mobile ul.nav-mobile-list li {
        padding: 5% 0px 5% 0px; }
      header .nav-mobile ul.nav-mobile-list li:last-child a {
        margin-right: 0.5em;
        margin-left: 0.5em;
        color: #283845;
        font-size: 1.4rem;
        letter-spacing: 0.1em; }

  #section-home {
    background-position: 0 25vh;
    background-size: 100vw; }
    #section-home .banner {
      padding-top: 0; }
      #section-home .banner .banner-left {
        margin: auto; }
      #section-home .banner h1 {
        font-size: 9vh;
        text-align: center; }
      #section-home .banner h2 {
        font-size: 2vh; }
      #section-home .banner .zinger {
        padding-top: calc(52vw + 2vw); }
        #section-home .banner .zinger h3 {
          font-size: 3vh;
          line-height: 5vh; }
      #section-home .banner h4 {
        font-size: 1.7vh;
        line-height: 2.5vh; }
    #section-home .banner-ads {
      padding-top: 2vh;
      margin: auto;
      flex-wrap: wrap; }
      #section-home .banner-ads .banner-robot {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        width: calc(99.2vw / 2);
        margin: 0.1vh 0.2vw 0.1vh 0.2vw;
        padding: 0.6vh 0 0.6vh 0;
        text-align: right; }
        #section-home .banner-ads .banner-robot p {
          font-size: 1.4vh;
          line-height: 2vh; }
        #section-home .banner-ads .banner-robot .banner-robot-img h3 {
          font-size: 1.5vh; }
      #section-home .banner-ads .banner-robot:nth-child(1) {
        border-bottom: 1px dashed rgba(254, 52, 129, 0.5); }
        #section-home .banner-ads .banner-robot:nth-child(1) h3 {
          color: #FE3483; }
      #section-home .banner-ads .banner-robot:nth-child(2) {
        border-bottom: 1px dashed rgba(254, 52, 129, 0.5); }
        #section-home .banner-ads .banner-robot:nth-child(2) h3 {
          color: #FE3483; }
      #section-home .banner-ads .banner-robot:nth-child(3) h3 {
        color: #FE3483; }
      #section-home .banner-ads .banner-robot:nth-child(4) h3 {
        color: #FE3483; } }
.fp-slidesNav.bottom {
  text-align: center; }

.fp-tableCell {
  vertical-align: baseline !important; }
